---
import Layout from '../layouts/Layout.astro'
---

<Layout title="j2y.dev">
	<main>
		<section>
			<h1>
				Hi, I'm Alex –<br />
				a full-stack software engineer <br />
				dedicated to crafting digital solutions.
			</h1>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}

	section {
		padding: 300px var(--gutter-h) 10vh;
		/* max-width: 60ch; */
		min-height: 100vh;
		min-height: 100svh;
		min-width: 100vw;
		min-width: 100svw;

		display: grid;
		align-items: end;
	}

	h1 {
		font-size: 7.4vw;
		/* font-weight: 650; */
		font-variation-settings: 'wght' 650;
		margin: 0;
	}
	@media (min-width: 672px) {
		section {
			padding: 10vh var(--gutter-h);
		}

		h1 {
			font-size: 3.703704vw;
		}
	}
</style>
