---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to j2y.dev">
	<main>
		<section>
			<h1>
				Hi, I'm Alex –<br />
				a full-stack software engineer <br />
				dedicated to crafting digital solutions.
			</h1>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}

	section {
		padding: 300px var(--gutter-h) 10vh;
		/* max-width: 60ch; */
		min-height: 100vh;
		min-height: 100svh;
		min-width: 100vw;
		min-width: 100svw;

		display: grid;
		align-items: end;
	}

	h1 {
		font-size: 7.4vw;
		font-weight: 650;
		margin: 0;
	}
	@media (min-width: 672px) {
		section {
			padding: 10vh var(--gutter-h);
		}

		h1 {
			font-size: 3.703704vw;
		}
	}
	/* .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	} */
	/* .instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	} */
</style>
