---
const navItems = [
	{ title: 'portfolio', href: '/#portfolio' },
	{ title: 'get in touch', href: 'mailto:alexandre@j2y.dev' },
]

const pathname = new URL(Astro.request.url).pathname
---

<header class="header">
	<a class="logo" href="/" aria-label="Home">[j2y dev]</a>

	<nav class="nav">
		{
			navItems.map(item => {
				const isActive = pathname.startsWith(item.href)
				return (
					<a class:list={['nav-item', { 'is-active': isActive }]} href={item.href}>
						{item.title}
					</a>
				)
			})
		}
	</nav>
</header>

<style>
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		display: grid;
		grid-template-columns: max-content 1fr;
		gap: var(--gap);

		padding: 5vh var(--gutter-h);
	}

	.logo {
		text-decoration: none;
		color: inherit;
		font-size: 18px;
		font-weight: 650;
	}

	.nav {
		display: grid;
		grid-auto-flow: column;
		/* grid-template-columns: repeat(2, minmax(0, 1fr)); */

		justify-content: end;
		gap: var(--gap);

		height: 100%;
		align-items: center;
	}

	.nav-item {
		color: inherit;
		text-decoration: none;
		position: relative;
		font-size: 18px;
		font-weight: 650;

		position: relative;

		&::after {
			content: '';
			background-color: var(--accent-2);
			position: absolute;
			left: -5px;
			right: -5px;
			bottom: 8px;
			height: 2px;

			transform: scaleX(0);
			transform-origin: left center;
			transition: transform 100ms ease-in-out;
		}
	}

	.nav-item:is(:hover, :focus-visible) {
		&::after {
			transform: scaleX(1);
		}
	}

	.nav-item:is(:hover, :focus-visible),
	.nav-item.is-active {
		font-weight: 500;
	}
</style>
