---
import Header from './Header.astro'

export interface Props {
	title: string
}

const { title } = Astro.props

const schema = {
	'@context': 'https://schema.org',
	'@type': 'Person',
	name: 'Alexandre Joly',
	url: 'https://www.j2y.dev',
	email: 'alexandre@j2y.dev',
	image: 'https://www.j2y.dev/images/profile.jpg',
	description:
		"Welcome to my world of full-stack software engineering! With a strong passion for web and mobile development, I strive to create innovative and user-friendly digital solutions. My expertise lies in crafting seamless user experiences and delivering high-quality, scalable applications. Let's collaborate and bring your ideas to life!",
	sameAs: [
		'https://www.linkedin.com/in/jolyAlexandre',
		'https://github.com/mekanics',
		'https://twitter.com/jolyAlexandre',
	],
	// memberOf: {
	// 	'@type': 'Organization',
	// 	name: 'ABC Software Solutions',
	// 	url: 'https://www.abcsoftwaresolutions.com',
	// },
	worksFor: {
		'@type': 'Organization',
		name: 'Self-Employed',
		url: 'https://www.j2y.dev',
	},
	jobTitle: 'Full-Stack Software Engineer',
	alumniOf: {
		'@type': 'Organization',
		name: 'University of Applied Sciences Rapperswil',
		url: 'https://www.ost.ch',
	},
	// hasOccupation: {
	// 	'@type': 'Occupation',
	// 	name: 'Software Engineering',
	// },
	// knowsLanguage: ['JavaScript', 'Python', 'Swift'],
	// knowsFramework: ['React', 'Django'],
	// knowsTool: ['Git', 'Docker', 'Kubernetes', ''],
	// hasSkill: [
	// 	'Front-end Development',
	// 	'Back-end Development',
	// 	'Database Design',
	// 	'Mobile Development',
	// 	'DevOps',
	// 	'SysOps',
	// ],
	hasCredential: [
		{
			'@type': 'EducationalOccupationalCredential',
			credentialCategory: 'degree',
			educationalLevel: 'Bachelors of Science',
			dateCreated: '2014-09',
			about: {
				'@type': 'EducationalOccupationalProgram',
				name: 'Computer Science',
			},
			recognizedBy: {
				'@type': 'CollegeOrUniversity',
				name: 'University of Applied Sciences Rapperswil',
				sameAs: 'https://www.ost.ch',
			},
		},
	],

	// hasWorkExperience: [
	// 	{
	// 		'@type': 'WorkExperience',
	// 		title: 'Software Engineer',
	// 		startDate: '2018-07-01',
	// 		endDate: '2021-12-31',
	// 		employer: {
	// 			'@type': 'Organization',
	// 			name: 'ABC Software Solutions',
	// 			url: 'https://www.abcsoftwaresolutions.com',
	// 		},
	// 		location: {
	// 			'@type': 'Place',
	// 			name: 'Cityville',
	// 			address: {
	// 				'@type': 'PostalAddress',
	// 				addressLocality: 'Cityville',
	// 				addressRegion: 'Stateville',
	// 				postalCode: '12345',
	// 				addressCountry: 'United States',
	// 			},
	// 		},
	// 		description: 'Developed and maintained web applications using React and Django.',
	// 	},
	// 	{
	// 		'@type': 'WorkExperience',
	// 		title: 'Front-end Developer',
	// 		startDate: '2016-05-01',
	// 		endDate: '2018-06-30',
	// 		employer: {
	// 			'@type': 'Organization',
	// 			name: 'XYZ Web Solutions',
	// 			url: 'https://www.xyzwebsolutions.com',
	// 		},
	// 		location: {
	// 			'@type': 'Place',
	// 			name: 'Townville',
	// 			address: {
	// 				'@type': 'PostalAddress',
	// 				addressLocality: 'Townville',
	// 				addressRegion: 'Stateville',
	// 				postalCode: '54321',
	// 				addressCountry: 'United States',
	// 			},
	// 		},
	// 		description: 'Implemented responsive and user-friendly interfaces using HTML, CSS, and JavaScript.',
	// 	},
	// ],
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Header />

		<slot />

		<!-- <Noise /> -->

		<script type="application/ld+json" set:html={JSON.stringify(schema)} />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'DistantGalaxy';
		src: url('/fonts/iAWriterDuoV.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	:root {
		--accent-1: #f6f4f4;
		--accent-2: #252624;
		--accent-3: #434343;

		--gutter-h: 3vw;
		--gap: 40px;
	}

	* {
		box-sizing: border-box;
	}

	html {
		font-family: 'iA Writer Duo V', system-ui, sans-serif;
		background: var(--accent-1, #f6f4f4);
		color: var(--accent-2, #252624);
	}

	body {
		margin: 0;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--accent-1: #252624;
			--accent-2: #f6f4f4;
			--accent-3: #434343;
		}
	}
</style>
